/*@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

@import url(https://fonts.googleapis.com/css2?family=Monoton&display=swap);*/

/* CSS code by Oliver (s194588)*/

@font-face {
  font-family: 'shadows into light', cursive;
  src: url("/resources/Fonts/ShadowsIntoLight-Regular.ttf");
}

@font-face {
  font-family: 'Monoton', cursive;
  src: url("/resources/Fonts/Monoton-Regular.ttf");
}

@font-face {
  font-family: 'Caveat', cursive;
  src: url("/resources/Fonts/Caveat-VariableFont_wght.ttf");
}

.root {
    -fx-background-color: #ff911c;
}

#gzlbl {
	-fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 47px;
    -fx-font-family: 'Monoton', cursive;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8 , 0.0 , 0 , 5);
}

.button {
  -fx-background-color: #006694;
  -fx-text-fill: DAA520;
  -fx-font-size: 16px;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);

  }
.button:hover {
  -fx-background-color: #7A0000;
  -fx-text-fill: white;
  -fx-font-size: 18px;
  -fx-rotate: -2;
  }
#timelbl {
	-fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-font-family: 'Monoton', cursive;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8 , 0.0 , 0 , 5);
    }