/*@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

@import url(https://fonts.googleapis.com/css2?family=Monoton&display=swap);*/

/* CSS code by Oliver (s194588)*/

@font-face {
  font-family: 'Caveat', cursive;
  src: url("/resources/Fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Monoton', cursive;
  src: url("/resources/Fonts/Monoton-Regular.ttf");
}


.label {
	-fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: 'Monoton', cursive;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8 , 0.0 , 0 , 5);
    }
.button {
  -fx-background-color: #006694;
  -fx-text-fill: DAA520;
  -fx-font-family: 'Caveat', cursive;
  -fx-font-size: 35px;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);

  }
#btnPuzzle {
  -fx-font-size: 15px;
  -fx-background-color: #006694;
  -fx-text-fill: DAA520;
  -fx-font-family: 'System', regular;
  }

#btnPuzzle:hover {
  -fx-rotate: 0;
  -fx-font-size: 15px;
  -fx-background-color: #a62100;
  }
#lblPs {
  -fx-font-size: 20px;
}

.button:hover {
  -fx-background-color: #a62100;
  -fx-text-fill: white;
  -fx-font-size: 40px;
  -fx-rotate: -3;

  }
  .root {
    -fx-background-color: #ff911c;
}
.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;
    -fx-text-fill: DAA520;
    -fx-background-color: #006694;
}

.combo-box-base
{
    -fx-background-color: #006694, #006694, #006694, #006694;
    -fx-text-fill: DAA520;
    -fx-padding: 0;
}
.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: DAA520;
    -fx-font-size: 17px;
}


