/* CSS code by Oliver (s194588)*/

.button:hover {
      -fx-background-color: #7A0000;
      -fx-text-fill: white;
      -fx-font-size: 20px;
}
.root {
    -fx-background-color: #ff911c;
}
.button {
  -fx-background-color: #006694;
  -fx-text-fill: DAA520;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);

  }