/*@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

@import url(https://fonts.googleapis.com/css2?family=Monoton&display=swap);*/

/* CSS code by Oliver (s194588)*/

@font-face {
  font-family: 'Caveat', cursive;
  src: url("/resources/Fonts/Caveat-VariableFont_wght.ttf");
}


@font-face {
  font-family: 'Monoton', cursive;
  src: url("/resources/Fonts/Monoton-Regular.ttf");
}

.label {
	-fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8 , 0.0 , 0 , 5);
    }
#RETURN {
  -fx-background-color: transparent;
  -fx-background-image: url("/resources/images/exitLeft.png");
  -fx-text-fill: DAA520;
  -fx-font-family: 'Caveat', cursive;
  -fx-font-size: 14px;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);

  }
#RETURN:hover {
  -fx-background-color: transparent;
  -fx-background-image: url("/resources/images/exitLefth.png");
  -fx-text-fill: white;
  -fx-font-size: 15px;
  -fx-rotate: -2;
  }

.root {
    -fx-background-color: #ff911c;
}
#mute {
  -fx-background-color: transparent;
  -fx-background-image: url("/resources/images/musicOn.png");
  -fx-text-fill: DAA520;
  -fx-font-family: 'Caveat', cursive;
  -fx-font-size: 14px;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);

  }
#mute:selected {
  -fx-background-color: transparent;
  -fx-background-image: url("/resources/images/musicOff.png");
  -fx-text-fill: white;
  -fx-font-size: 15px;
  -fx-rotate: -2;
  }
  #mute:hover {
    -fx-background-color: transparent;
    -fx-background-image: url("/resources/images/musicOnw.png");
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-rotate: -2;
    }
#mute:selected:hover {
      -fx-background-color: transparent;
      -fx-background-image: url("/resources/images/musicOffw.png");
      -fx-text-fill: white;
      -fx-font-size: 15px;
      -fx-rotate: -2;
      }
.button {
  -fx-background-color: #006694;
  -fx-text-fill: DAA520;
  -fx-font-size: 14px;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);

  }
  .button:hover {
    -fx-background-color: #871b00;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-rotate: -3;

    }
.toggle-button {
  -fx-background-color: #006694;
  -fx-text-fill: DAA520;
  -fx-font-size: 14px;
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}
.toggle-button:selected {
  -fx-background-color: #871b00;
  -fx-text-fill: white;
  -fx-font-size: 15px;
  }

.toggle-button:hover {
     -fx-background-color: #871b00;
     -fx-text-fill: white;
     -fx-font-size: 16px;
     -fx-rotate: -3;

  }

#tbSnap {
  -fx-font-size: 10px;
}




